:root {
    --primaryColor: #B066FE;
    /* --primaryColor-other: #CD79FF;
    --primaryColor-d1: #A25BDC;
    --primaryColor-d2: #9150BB; */
    --secondaryColor: #63E2FF;
    /* --secondaryColor-other: #54A9DF;
    --secondaryColor-d1: #59C6E6;
    --secondaryColor-d2: #4FAACC; */
}

body {
    background: #B066FE;
    background: linear-gradient(#B066FE,#63E2FF) fixed;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    /* height: 9000px; */
}

h1 {
    padding: 150px 0px 20px 0px;
}

p {
    font-size: 15px;
}

a,
a:visited {
    color: #FFF;
    background: linear-gradient(to bottom, var(--secondaryColor) 0%, var(--secondaryColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-color: initial;
    text-decoration: none;
}
a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2363E2FF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
}

:focus {
    outline: 2px dotted #63E2FF;
    outline: 3px auto #63E2FF;
}
button:focus {
    outline: 2px dotted #63E2FF;
    outline: 3px auto #63E2FF;
}

#messageBox {
    min-height: 20px;
    margin: 1rem 0;
}
#messageBox small {
    display: block;
    display: block;
    border-left: 3px solid #fff;
    padding-left: 1rem;
    border-radius: 2px;
}
#messageBox small.enabled {
    border-left-color: #9DFFB5;
    background: linear-gradient(to right, #9DFFB5 -20rem, #9DFFB500 20rem);
}
#messageBox small.disabled {
    border-left-color: #F96D41;
    background: linear-gradient(to right, #F96D41 -20rem, #802E6700 20rem);
}
#messageBox small.denied {
    border-left-color: #802E67;
    background: linear-gradient(to right, #802E67 -20rem, #802E6700 20rem);
}

#wroll-container {
    height: 300px;
    position: relative;
    border: 1px solid white;
}
#wroll-floater {
    height: 30px;
    width: 30px;
    background-color: red;

    position: absolute;
    top: 50%;
}
.block {
    height: 500px;
    /* margin-bottom: 1rem; */
    /* border: 1px solid white; */
    background: #B066FE;
    background: linear-gradient(#63E2FF55, #B066FE55);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-group label {
    font-weight: 700;
}
.form-group label span {
    font-weight: 400;
}
.form-group label span:before {
    content: ' — ';
}
.form-group label ~ div {
    display: table;
}
.form-group input[type="number"] {
    max-width: 500px;
}

.nanobar .bar {
    background: var(--secondaryColor);
    border-radius: 4px;
    box-shadow: 0 0 10px var(--primaryColor);
}